<div class="app-header" id="step">
  <div class="app-info">
    <img
      src="https://redwars22.github.io/Projetos-Web-3/resx/alice.png"
      class="app-icon"
    />
    <h1 class="app-title">Alice</h1>
  </div>
  <div class="actions">
    <button class="header-button" (click)="saveData()">
      <i class="material-icons btn-icon">save</i>
    </button>
    <button class="header-button" (click)="retrieveData()">
      <i class="material-icons btn-icon">folder</i>
    </button>
    <button class="header-button" (click)="deleteAll()">
      <i class="material-icons btn-icon">delete_forever</i>
    </button>
    <!--<button class="header-button" (click)="getHelp()">
      <i class="material-icons btn-icon">help</i>
    </button>-->
    <button class="header-button" (click)="reportBug()">
      <i class="material-icons btn-icon">bug_report</i>
    </button>
    <button class="header-button" (click)="getSourceCode()">
      <i class="material-icons btn-icon">code</i>
    </button>
    <button class="header-button" (click)="moreProjects()">
      <i class="material-icons btn-icon">apps</i>
    </button>
  </div>
  <a href="https://github.com/Redwars22">
    <div class="app-author">
      <p>Criado por @Redwars22 usando Angular</p>
      <img src="https://github.com/Redwars22.png" class="author-img" />
    </div>
  </a>
</div>
<hr />
