@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    margin: 25px;
    background-color: floralwhite;
}

header {
    text-align: center;
    margin-bottom: 25px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
}

.l-row {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    max-width: 75%;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.l-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
}

.app-icon {
    width: 90px;
    margin: 10px;
}

.technologies {
    color: rgb(0, 110, 253);
}

.disabled {
    filter: saturate(0%);
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid lightgray;
    margin-top: 10px;
}