<div class="step1" id="step1">
  <h1 class="section-title">Escolha o gênero do personagem para gerá-lo</h1>
  <div class="buttons-container">
    <a (click)="setGender('M')">
      <div class="big-button male">
        <i class="material-icons button-icon">person</i>
        <h1 class="btn-title">Masculino</h1>
      </div>
    </a>
    <a (click)="setGender('F')">
      <div class="big-button female">
        <i class="material-icons button-icon">person</i>
        <h1 class="btn-title">Feminino</h1>
      </div>
    </a>
    <a (click)="setGender('Outro')">
      <div class="big-button">
        <i class="material-icons button-icon">person</i>
        <h1 class="btn-title">Outro</h1>
      </div>
    </a>
  </div>
</div>
