<header>
  <div class="upper-bar">
    <div class="buttons-container">
      <button class="mac-ui-button red-btn"></button>
      <button class="mac-ui-button yellow-btn"></button>
      <button class="mac-ui-button green-btn"></button>
    </div>
    <img
      src="https://redwars22.github.io/Projetos-Web-3/resx/landfall.png"
      width="35px"
    />
    <a href="https://github.com/Redwars22" class="author-badge-link">
      <div class="author-badge">
        <span class="author-name"> Criado por André Pereira </span>
        <img
          src="https://github.com/Redwars22.png"
          width="27px"
          height="27px"
          class="author-photo"
        />
      </div>
    </a>
  </div>
  <div class="bottom-bar">
    <button class="menu-button" (click)="saveData()">Salvar</button>
    <button class="menu-button" (click)="retrieveData()">Abrir</button>
    <button class="menu-button" (click)="deleteAllData()">Resetar</button>
    <button class="menu-button" (click)="feedbackButton()">Feedback</button>
    <button class="menu-button" (click)="helpWindow()">Ajuda</button>
    <button class="menu-button" (click)="aboutBox()">Sobre</button>
  </div>
</header>
