<div class="step2">
  <!--<p>
    Eis aqui algumas características que foram geradas automaticamente. Você
    também pode alterá-las se desejar, os campos são editáveis!
    <button (click)="getRandomCharacter()">Gerar personagem aleatório</button>
  </p>-->
  <form>
    <label for="name">Nome</label>
    <input id="name" placeholder="Nomeie o seu personagem" />
    <label for="age">Idade</label>
    <input id="age" />
    <label for="gender">Gênero</label>
    <input id="gender" placeholder="Escolha um gênero" />
    <label for="personality">Personalidade</label>
    <input id="personality" />
    <label for="type">Tipo</label>
    <input id="type" />
    <label for="height">Altura</label>
    <input id="height" />
    <label for="bloodtype">Tipo Sanguíneo</label>
    <input id="bloodtype" />
    <label for="occupation">Profissão</label>
    <input id="occupation" />
    <label for="birthday">Aniversário</label>
    <input id="birthday" />
    <label for="hobbies">Hobbies</label>
    <input id="hobbies" />
  </form>
</div>
